@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

@layer base {
    html {
        font-family: 'Inter';
    }
} */

body {
  /* background-image: linear-gradient(59.94deg,#9097f7,#6a9af8 53.81%,#46c6fd 100%,#64a2f9); */
  /* background: linear-gradient(#23a6d5, #23d5ab); */
  background-size: 100%;
  height: 100vh;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  font-size: 18px;
}
